<div class="content-container">
  <h1>Forgot Password</h1>
  <p [textContent]="validationResult"></p>
  <div class="input-container">
    <input #usernameInput type="text"><p>Username</p>
  </div>
  <div class="input-container">
    <input #secretQuestionInput type="text"><p>What's your pet's name?</p>
  </div>
  <button (click)="validateSecretQuestion(usernameInput.value, secretQuestionInput.value)">Validate information</button>
  <div *ngIf="validInformation">
    <div class="content-container">
      <div class="input-container">
        <input #passwordInput type="password"><p>New Password</p>
      </div>
      <button (click)="resetPassword(usernameInput.value, passwordInput.value)">Set new password</button>
    </div>
  </div>
</div>
